# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# Distribution / packaging
*.egg-info/
dist/
build/
*.spec

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# User config
config/user/

# OpenCode 工作文件
.omo/

# 程序缓存
backups/